@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.dashboard {
    
    
    /* position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.create-room {
    padding-top: 5vh;
    opacity: 0;
}

.heading {
    font-size: 3.5em;
    font-family: 'Poppins', sans-serif;
}

.heading-visible {
    display: none;
    font-size: 3.5em;
    font-family: 'Poppins', sans-serif;
}

.intro {
    display: none;
    opacity: 0;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
}


.introContinue {
    opacity: 0;
    display: none;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 780px) {
    .heading {
        font-size: 2.5em;
        font-family: 'Poppins', sans-serif;
    }
    
    .heading-visible {
        display: none;
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
    }
    
    .intro {
        display: none;
        opacity: 0;
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
    }
    
    
    .introContinue {
        opacity: 0;
        display: none;
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
    }

    .create-room {
        padding-top: 5vh;
    }
}
